canvas.section-decoration-canvas-art {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: block;
    height: 100%;
    pointer-events: none;
    contain: paint;
}

@media (max-width: 991.98px) {
    canvas.section-decoration-canvas-art {
        display: none;
    }
}
