@import "../../styles/extend.scss";

article.article.article-stack {
    container-type: inline-size;
}

div.article-stack-items {
    --stack-columns: 6;
    --gap: 10px;
    --avatar-size: 75px;
    --padding: 15px 20px;

    @container (max-width: 1180px) {
        --stack-columns: 4;
    }

    @container (max-width: 980px) {
        --avatar-size: 70px;
        --gap: 8px;
    }

    @container (max-width: 840px) {
        --stack-columns: 3;
        --avatar-size: 65px;
        --gap: 7px;
    }

    @container (max-width: 560px) {
        --stack-columns: 2;
        --avatar-size: 60px;
        --gap: 7px;
        --padding: 10px 20px;
    }

    @container (max-width: 420px) {
        --avatar-size: 60px;
        --padding: 15px 15px;
        --gap: 4px;
    }

    display: grid;
    grid-template-columns: repeat(var(--stack-columns), minmax(0, 1fr));
    row-gap: var(--gap);
    column-gap: var(--gap);
    width: 100%;
}

div.article-stack-item {
    background-color: var(--theme-boards-background);
    border-radius: $standard-border-radius;
    padding: var(--padding);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-width: 0;
}

div.article-stack-item-avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    font-size: calc(var(--avatar-size)*0.7);
    border-radius: 100%;
    background-color: transparent;
    color: var(--theme-primary);
}

div.article-stack-item-title {
    font-size: calc(var(--avatar-size)*0.20);
    margin-top: 8px;
    text-align: center;
    color: var(--theme-texts-light);
    overflow-wrap: anywhere;
}

div.article-stack-item-experience {
    font-size: calc(var(--avatar-size)*0.19);
    text-align: center;
    color: var(--theme-texts-light-3);
    overflow-wrap: anywhere;
}
