@import "../../styles/extend.scss";

button.standard-button {
    i, span {
        user-select: none;
        pointer-events: none;
    }
}

button.standard-button-large-size {
    --padding: 1rem 2.05rem;
    --font-size: 0.96rem;
    @include media-breakpoint-down(xxl) {
        --padding: 0.92rem 1.8rem;
        --font-size: 0.92rem;
    }
    @include media-breakpoint-down(lg) {
        --padding: 0.88rem 1.35rem;
        --font-size: 0.84rem;
    }
    @include media-breakpoint-down(md) {
        --padding: 0.74rem 1.3rem;
        --font-size: 0.84rem;
    }

    border-radius: 4rem!important;
    font-weight: 400;
    text-transform: uppercase;
    padding: var(--padding);
    font-size: var(--font-size);
}
