/**
 * @author Lovro Music
 * @description Mixin to build theme color scheme variables.
 */

@use "sass:color";
@use "sass:map";

$theme-contrast-steps: (
    1: 1%,
    2: 2%,
    3: 3%,
    4: 4%,
    5: 5%,
    6: 6%,
    7: 7%,
    8: 8%,
    9: 9%,
    10: 10%,
    11: 12.5%,
    12: 15%,
    13: 17.5%,
    14: 20%,
    15: 25%,
    16: 30%,
);

@mixin build-theme(
    $isDarkMode,

    $theme-primary,
    $theme-secondary,
    $theme-dark,
    $theme-danger,
    $theme-muted,

    $theme-background,
    $theme-background-contrast,
    $theme-background-contrast-darken,
    $theme-texts,
    $theme-texts-inv,

    $theme-mobile-nav-background,
    $theme-mobile-nav,
    $theme-mobile-nav-border,
    $theme-mobile-nav-hover-background,
    $theme-mobile-nav-hover,
    $theme-mobile-nav-selected-background,
    $theme-mobile-nav-selected,
    $theme-mobile-nav-selected-border,

    $theme-section-background,
    $theme-card-background,
    $theme-pop-ups-background,
    $theme-boards-background,
    $theme-info-badge-background,
    $theme-info-badge,
    $theme-empty,

    $theme-standard-borders,
    $theme-scrollbar-track,
    $theme-scrollbar-thumb
) {
    --theme-primary: #{$theme-primary};
    --theme-secondary: #{$theme-secondary};
    --theme-dark: #{$theme-dark};
    --theme-danger: #{$theme-danger};
    --theme-muted: #{$theme-muted};

    --theme-background: #{$theme-background};
    --theme-background-contrast: #{$theme-background-contrast};
    --theme-background-contrast-darken: #{$theme-background-contrast-darken};
    --theme-texts: #{$theme-texts};
    --theme-texts-inv: #{$theme-texts-inv};

    --theme-mobile-nav-background: #{$theme-mobile-nav-background};
    --theme-mobile-nav: #{$theme-mobile-nav};
    --theme-mobile-nav-border: #{$theme-mobile-nav-border};
    --theme-mobile-nav-hover-background: #{$theme-mobile-nav-hover-background};
    --theme-mobile-nav-hover: #{$theme-mobile-nav-hover};
    --theme-mobile-nav-selected-background: #{$theme-mobile-nav-selected-background};
    --theme-mobile-nav-selected: #{$theme-mobile-nav-selected};
    --theme-mobile-nav-selected-border: #{$theme-mobile-nav-selected-border};

    --theme-section-background: #{$theme-section-background};
    --theme-card-background: #{$theme-card-background};
    --theme-card-background-opacity: #{rgba($theme-card-background, 0.8)};

    --theme-standard-borders: #{$theme-standard-borders};
    --theme-pop-ups-background: #{$theme-pop-ups-background};
    --theme-boards-background: #{$theme-boards-background};
    --theme-info-badge-background: #{$theme-info-badge-background};
    --theme-info-badge: #{$theme-info-badge};
    --theme-empty: #{$theme-empty};

    --theme-scrollbar-track: #{$theme-scrollbar-track};
    --theme-scrollbar-thumb: #{$theme-scrollbar-thumb};

    @if($isDarkMode) {
        --theme-links: #{color.adjust($theme-primary, $lightness: 5%)};
        --theme-links-hover: #{color.adjust($theme-primary, $lightness: 10%)};

        --theme-card-background-accent: #{color.adjust($theme-card-background, $lightness: 2%)};
        --theme-boards-background-accent: #{color.adjust($theme-boards-background, $lightness: -2%)};
        --theme-boards-background-accent-inv: #{color.adjust($theme-boards-background, $lightness: 1%)};
        --theme-section-background-accent: #{color.adjust($theme-section-background, $lightness: 3%)};
        --theme-section-background-accent-inv: #{color.adjust($theme-section-background, $lightness: -3%)};

        --theme-standard-borders-accent: #{color.adjust($theme-standard-borders, $lightness: 3%)};
        --theme-standard-borders-accent-2: #{color.adjust($theme-standard-borders, $lightness: 5%)};

        --theme-timeline-line-color: #{$theme-secondary};
        --theme-timeline-line-color-accent: #{color.adjust($theme-secondary, $lightness: 8%)};

        --theme-opacity-border: #{rgba($theme-secondary, 0.15)};
        --theme-opacity-border-light: #{rgba($theme-secondary, 0.05)};
        --theme-opacity-border-accent: #{rgba($theme-secondary, 0.35)};
        --theme-invert-filter: 1;
    }
    @else {
        --theme-links: #{color.adjust($theme-primary, $lightness: -5%)};
        --theme-links-hover: #{color.adjust($theme-primary, $lightness: -10%)};

        --theme-card-background-accent: #{color.adjust($theme-card-background, $lightness: -2%)};
        --theme-boards-background-accent: #{color.adjust($theme-boards-background, $lightness: -2%)};
        --theme-boards-background-accent-inv: #{color.adjust($theme-boards-background, $lightness: 0%)};
        --theme-section-background-accent: #{color.adjust($theme-section-background, $lightness: -5%)};
        --theme-section-background-accent-inv: #{color.adjust($theme-section-background, $lightness: 5%)};

        --theme-standard-borders-accent: #{$theme-section-background};
        --theme-standard-borders-accent-2: #{color.adjust($theme-standard-borders, $lightness: -1%)};

        --theme-timeline-line-color: #{$theme-secondary};
        --theme-timeline-line-color-accent: #{color.adjust($theme-secondary, $lightness: -8%)};

        --theme-opacity-border: #{rgba(black, 0.15)};
        --theme-opacity-border-light: #{rgba(black, 0.05)};
        --theme-opacity-border-accent: #{rgba(black, 0.3)};
        --theme-invert-filter: 0;
    }

    @for $i from 1 through 16 {
        $contrast-step: map.get($theme-contrast-steps, $i);

        --theme-standard-borders-#{$i}: #{rgba($theme-standard-borders, calc($i/16))};

        @if($isDarkMode) {
            --theme-background-darken-#{$i}: #{color.adjust($theme-background, $lightness: -$contrast-step)};
            --theme-texts-#{$i}: #{color.adjust($theme-texts, $lightness: calc($contrast-step * 2))};
            --theme-primary-#{$i}: #{color.adjust($theme-primary, $lightness: -$contrast-step)};
            --theme-secondary-#{$i}: #{color.adjust($theme-secondary, $lightness: $contrast-step)};
        }
        @else {
            --theme-background-darken-#{$i}: #{color.adjust($theme-background, $lightness: $contrast-step)};
            --theme-texts-#{$i}: #{color.adjust($theme-texts, $lightness: calc($contrast-step * 2))};
            --theme-primary-#{$i}: #{color.adjust($theme-primary, $lightness: $contrast-step)};
            --theme-secondary-#{$i}: #{color.adjust($theme-secondary, $lightness: -$contrast-step)};
        }
    }

    @if($isDarkMode) {
        --theme-texts-light-1: var(--theme-texts);
        --theme-texts-light: var(--theme-texts-5);
        --theme-texts-light-2: var(--theme-secondary);
        --theme-texts-light-3: #{color.adjust($theme-secondary, $lightness: -10%)};
        --theme-texts-light-4: #{color.adjust($theme-secondary, $lightness: -15%)};
    }
    @else {
        --theme-texts-light-1: var(--theme-texts);
        --theme-texts-light: var(--theme-texts-5);
        --theme-texts-light-2: var(--theme-secondary);
        --theme-texts-light-3: #{color.adjust($theme-secondary, $lightness: -6%)};
        --theme-texts-light-4: #{color.adjust($theme-secondary, $lightness: -12%)};
    }
}
