@use "../../styles/extend" as *;

div.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    min-height: 100dvh;
    overflow: clip;
    background: var(--theme-background);
    color: var(--theme-texts);

    @include media-breakpoint-down($max-breakpoint-for-tabbed-interface) {
        overflow: visible;
    }
}

div.layout-content {
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    width: 100%;
    z-index: $z-index-content;
    padding: 0;
}
