@import "../../styles/extend.scss";

div.section-content {
    /* Reduce horizontal whitespace to improve readability on wide layouts. */
    --padding: 1.35rem 1.35rem 2.6rem;
    @include media-breakpoint-down(xl) { --padding: 1.05rem 1.05rem 2.1rem; }
    @include media-breakpoint-down(md) { --padding: 0.75rem 0.75rem 1.75rem; }
    @media (max-width: 380px) { --padding: 0.6rem 0.6rem 1.05rem; }

    position: relative;
    width: 100%;
    padding: var(--padding);
    min-height: calc(100vh - calc($default-card-spacing*5));
}

div.section-content-border-decoration {
    --border-decoration-size: 70px;

    display: inline-block;
    position: absolute;
    width: var(--border-decoration-size);
    height: var(--border-decoration-size);
    z-index: 0;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

div.section-content-border-decoration-top-left {
    border-top: 3px dashed var(--theme-primary);
    border-left: 3px dashed var(--theme-primary);
}

div.section-content-elements-wrapper {
    padding: 10px 0 0 0;
    @include media-breakpoint-down(lg) {
        padding: 2px 0 0 0;
    }
}
