@use "../../../styles/extend" as *;

div.nav-link-pills-fixed-wrapper {
    --nav-link-pills-fixed-safe-area-top: env(safe-area-inset-top, 0px);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $z-index-nav-tabs;
    width: 100%;
    padding-top: var(--nav-link-pills-fixed-safe-area-top);
    backdrop-filter: blur(10px) saturate(125%);
    overflow: clip;
    contain: paint;

    @include media-breakpoint-up($max-breakpoint-for-tabbed-interface) {
        display: none;
    }
}

div.nav-link-pills-fixed-wrapper-shown {
    visibility: visible;
}

div.nav-link-pills-fixed-wrapper-hidden {
    visibility: hidden;
    pointer-events: none;
}
