@use "../../styles/extend" as *;

div.balloon {
    --balloon-padding: 1.5rem;
    --balloon-padding-mobile: 1rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;

    min-height: 150px;
    padding: var(--balloon-padding);

    background-color: var(--theme-boards-background);
    color: var(--theme-texts-light);
    text-align: center;
    border-radius: $standard-border-radius;

    @include media-breakpoint-down(md) {
        padding: var(--balloon-padding-mobile);
        min-height: 120px;
    }
}

div.balloon-triangle {
    position: absolute;
    bottom: -9px;
    width: 0;
    height: 0;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid  var(--theme-boards-background);
}

div.balloon-quote {
    span.balloon-quote-2 {
        white-space: nowrap;
    }
}

article#article-2-section-my-software,
article#article-3-section-my-software,
article#article-4-section-my-software {
    div.balloon {
        border: 1px solid rgba(78, 163, 255, 0.18);
        border-radius: 16px;
    }
}
